swagger: '2.0'
info:
  description: >-
    This is api docs for readlight.<br> If you
    want to know our service more, please visit <a
    href="https://readlight.me">HERE</a>.
  version: 1.0.0
  title: ReadLight-Backend
  termsOfService: 'https://readlight.me/terms/'
  contact:
    email: help@readlight.me
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: api.readlight.me
tags:
  - name: account
    description: "User Authentification API"
basePath: /
schemes:
  - https
paths:
  /auth/signup:
    post:
      tags:
        - account
      summary: User SignUp
      description: api node for generating user account
      operationId: createUser
      produces:
        - application/json
        - application/xml
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: name
          in: formData
          description: name of user account
          required: true
          type: string
        - name: email
          in: formData
          description: email of user account
          required: true
          type: string
        - name: password
          in: formData
          description: password of user account
          required: true
          type: string
        - name: phone
          in: formData
          description: telnumber of user account
          required: true
          type: string
      responses:
        default:
            description: default reponse model
            schema:
              $ref: "#/definitions/apiResult"
        '200':
          description: account generated and verification email sent.
        '409':
          description: email client provided duplicated.
        '412':
          description: data client provided doesn't satisfy format.
        '424':
          description: >-
            account generated but verification email wasn't sent.<br> please
            resend verification email in application.
        '500':
          description: unknown server error occured (cause of network status)
  /auth/active:
    get:
      tags:
        - account
      summary: User Activation
      description: api node for activating account
      operationId: activeUser
      produces:
        - application/json
        - application/xml
      parameters:
        - name: email
          in: query
          description: The user email for activation
          required: true
          type: string
        - name: token
          in: query
          description: The token for activation
          required: true
          type: string
      responses:
        default:
            description: default reponse model
            schema:
              $ref: "#/definitions/apiResult"
        '200':
          description: account email activiation finished.
        '409':
          description: account client provided not exist or already activated.
        '412':
          description: data client provided doesn't satisfy format.
        '500':
          description: unknown server error occured (cause of network status)
  /auth/login:
    post:
      tags:
        - account
      summary: User Login
      description: api node for getting jwt token
      operationId: loginUser
      produces:
        - application/json
        - application/xml
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: email
          in: formData
          description: email of account
          required: true
          type: string
        - name: password
          in: formData
          description: password of account
          required: true
          type: string
      responses:
        default:
            description: default reponse model
            schema:
              $ref: "#/definitions/apiResult"
        '200':
          description: user login succeed and json token published
          schema:
            $ref: "#/definitions/apiLoginResult"
        '409':
          description: account client provided not exist
        '412':
          description: data client provided doesn't satisfy format.
        '500':
          description: unknown server error occured (cause of network status)
  /auth/jwtdecode:
    get:
      tags:
        - account
      summary: JWT Token Decode
      description: api node for decoding jwt token
      operationId: jwtdecode
      produces:
        - application/json
        - application/xml
      parameters:
        - name: token
          in: query
          description: The token for verification
          required: true
          type: string
      responses:
        default:
            description: default reponse model
            schema:
              $ref: "#/definitions/apiResult"
        '200':
          description: jwt token decoded
          schema:
            $ref: "#/definitions/UserInfo"
        '500':
          description: jwt token decode failed
definitions:
  apiResult:
    type: object
    properties:
      result: 
        type: string
      error:
        type: string
  apiLoginResult:
    type: object
    properties:
      result: 
        type: string
      token:
        type: string
  UserInfo:
    type: object
    properties:
      enable: 
        type: boolean
      email:
        type: string
      name:
        type: string
      phone:
        type: string
      lastlogin:
        type: string
        format: date
        pattern: 'yyyy-MM-dd hh:mm:ss'
      created:
        type: number
      expired:
        type: number