swagger: '2.0'
info:
  description: >-
    This is api docs for readlight.<br> If you
    want to know our service more, please visit <a
    href="https://readlight.me">HERE</a>.
  version: 1.0.0
  title: ReadLight-Backend
  termsOfService: 'https://readlight.me/terms/'
  contact:
    email: help@readlight.me
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: api.readlight.me
tags:
  - name: account
    description: "User Authentification API"
basePath: /
schemes:
  - https
securityDefinitions:
  JWTAuth:
    type: apiKey
    name: authorization
    in: header
  BasicAuth:
    type: basic
paths:
  /auth/signup:
    post:
      tags:
        - account
      summary: User SignUp
      description: api node for generating user account
      operationId: createUser
      produces:
        - application/json
        - application/xml
      consumes:
        - application/x-www-form-urlencoded
      security:
        - BasicAuth: []
      parameters:
        - name: name
          in: formData
          description: name of user account
          required: true
          type: string
        - name: email
          in: formData
          description: email of user account
          required: true
          type: string
        - name: password
          in: formData
          description: password of user account
          required: true
          type: string
          format: password
        - name: phone
          in: formData
          description: telnumber of user account
          required: true
          type: string
      responses:
        default:
            description: default reponse model
            schema:
              $ref: "#/definitions/apiResult"
        '200':
          description: account generated and verification email sent.
        '403':
          description: >-
            Request denied because you are not authorized.<br>
            Please send correct authorization header.
        '409':
          description: email client provided duplicated.
        '412':
          description: data client provided doesn't satisfy format.
        '424':
          description: >-
            account generated but verification email wasn't sent.<br> please
            resend verification email in application.
        '500':
          description: unknown server error occured (cause of network status)
  /auth/active:
    get:
      tags:
        - account
      summary: User Activation
      description: api node for activating account
      operationId: activeUser
      produces:
        - application/json
        - application/xml
      parameters:
        - name: email
          in: query
          description: The user email for activation
          required: true
          type: string
        - name: token
          in: query
          description: The token for activation
          required: true
          type: string
          format: password
      responses:
        default:
            description: default reponse model
            schema:
              $ref: "#/definitions/apiResult"
        '200':
          description: account email activiation finished.
        '409':
          description: account client provided not exist or already activated.
        '412':
          description: data client provided doesn't satisfy format.
        '500':
          description: unknown server error occured (cause of network status)
  /auth/login:
    post:
      tags:
        - account
      summary: User Login
      description: api node for getting jwt token
      operationId: loginUser
      produces:
        - application/json
        - application/xml
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: email
          in: formData
          description: email of account
          required: true
          type: string
        - name: password
          in: formData
          description: password of account
          required: true
          type: string
          format: password
      responses:
        default:
            description: default reponse model
            schema:
              $ref: "#/definitions/apiResult"
        '200':
          description: user login succeed and json token published.
          schema:
            $ref: "#/definitions/apiLoginResult"
        '409':
          description: no accounts were found that match the information client entered.
        '412':
          description: data client provided doesn't satisfy format.
        '423':
          description: user login denied because account closed.
        '500':
          description: unknown server error occured (cause of network status)
  /auth/jwtdecode:
    get:
      tags:
        - account
      summary: JWT Token Decode
      description: api node for decoding jwt token
      operationId: jwtdecode
      produces:
        - application/json
        - application/xml
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: token
          in: query
          description: The token for verification
          required: true
          type: string
          format: password
      responses:
        default:
            description: default reponse model
            schema:
              $ref: "#/definitions/apiResult"
        '200':
          description: jwt token decoded.
          schema:
            $ref: "#/definitions/UserInfo"
        '500':
          description: jwt token decode failed.
  /auth/pwdchange:
    put:
      tags:
        - account
      summary: Non Social User password Change
      description: api node for change password
      operationId: pwdchange
      produces:
        - application/json
        - application/xml
      security:
        - BasicAuth: []
      parameters:
        - name: email
          in: formData
          description: user account email
          required: true
          type: string
        - name: curpassword
          in: formData
          description: user current password
          required: true
          type: string
          format: password
        - name: newpassword
          in: formData
          description: user new password
          required: true
          type: string
          format: password
      consumes:
        - application/x-www-form-urlencoded
      responses:
        default:
            description: default reponse model
            schema:
              $ref: "#/definitions/apiResult"
        '200':
          description: user password change task finished.
        '403':
          description: >-
            Request denied because you are not authorized.<br>
            Please send correct authorization header.
        '409':
          description: >-
            no accounts were found that match the information you entered or
            social login account are denied to changed account password.
        '423':
          description: user login denied because account closed.
        '424':
          description: new password must be different from the old password. 
        '500':
          description: api server connection is unstable (cause of network status)
  /auth/pwdreset/{email}:
    put:
      tags:
        - account
      summary: Non Social User Password Reset Email Send 
      description: api node for reset password
      operationId: pwdreset-send
      produces:
        - application/json
        - application/xml
      security:
        - BasicAuth: []
      parameters:
        - name: email
          in: path
          description: user account email
          required: true
          type: string
      responses:
        default:
            description: default reponse model
            schema:
              $ref: "#/definitions/apiResult"
        '200':
          description: user password reset email sent.
        '403':
          description: >-
            Request denied because you are not authorized.<br>
            Please send correct authorization header.
        '409':
          description: user account email client provided is not valid.
        '423':
          description: user login denied because account closed.
        '424':
          description: password reset email sending failed.
        '500':
          description: api server connection is unstable (cause of network status)
  /auth/pwdreset:
    post:
      tags:
        - account
      summary: Non Social User Password Reset
      description: api node for reset password
      operationId: pwdreset-callback
      produces:
        - application/json
        - application/xml
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: token
          in: formData
          description: The token for password reset.
          required: true
          type: string
          format: password
        - name: email
          in: formData
          description: user account email
          required: true
          type: string
        - name: password
          in: formData
          description: new account password
          required: true
          type: string
          format: password
      responses:
        default:
            description: default reponse model
            schema:
              $ref: "#/definitions/apiResult"
        '200':
          description: account password change finished.
        '409':
          description: >-
            resetToken clien provided is not valid to change password or<br>
            account client provided is not acceptable to change password.
        '412':
          description: data client provided doesn't satisfy format.
        '423':
          description: user action denied because account closed.
        '500':
          description: api server connection is unstable (cause of network status) 
  /auth/social-kakao:
    put:
      tags:
        - account
      summary: Social Account Access - Kakao
      description: api node for social access - kakao
      operationId: socialkakao
      produces:
        - application/json
        - application/xml
      consumes:
        - application/x-www-form-urlencoded
      security:
        - BasicAuth: []
      parameters:
        - name: kakaotoken
          in: formData
          description: The Kakao token for process.
          required: true
          type: string
          format: password
      responses:
        default:
            description: default reponse model
            schema:
              $ref: "#/definitions/apiResult"
        '200':
          description: kakao user login succeed and json token published.
          schema:
            $ref: "#/definitions/apiLoginResult"
        '403':
          description: >-
            Request denied because you are not authorized.<br><br>
            Please send correct authorization header.
        '409':
          description: >-
            user acounnt can not be logined through kakaoToken.<br>
            please login through basic login -> "/auth/login"
        '412':
          description: kakaoToken user provided is not acceptable.
        '423':
          description: user login denied because account closed.
        '424':
          description: >-
            account generated but jwtToken generate failed.<br>
            please request again to this node to get jwtToken.
        '500':
          description: api server connection is unstable (cause of network status) 
definitions:
  apiResult:
    type: object
    properties:
      result: 
        type: string
      error:
        type: string
  apiLoginResult:
    type: object
    properties:
      result: 
        type: string
      token:
        type: string
  UserInfo:
    type: object
    properties:
      enable: 
        type: boolean
      email:
        type: string
      name:
        type: string
      phone:
        type: string
      lastlogin:
        type: string
        format: date
        pattern: 'yyyy-MM-dd hh:mm:ss'
      created:
        type: number
      expired:
        type: number